body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1833 {
  position:absolute;
  left:3px;
  top:190px;
  width:85px;
  height:25px;
}
#u1833_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1834 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u1835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1835 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1836 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1837 {
  position:absolute;
  left:500px;
  top:23px;
  width:150px;
  height:25px;
}
#u1837_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u1838 {
  position:absolute;
  left:660px;
  top:23px;
  width:50px;
  height:25px;
}
#u1838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1839 {
  position:absolute;
  left:3px;
  top:160px;
  width:59px;
  height:25px;
}
#u1839_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1840 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u1841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1841 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u1842 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1843 {
  position:absolute;
  left:20px;
  top:190px;
  width:70px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1844 {
  position:absolute;
  left:690px;
  top:85px;
  width:64px;
  height:27px;
}
#u1844_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:70px;
  height:33px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1845 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:32px;
}
#u1846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u1846 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u1847 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u1848 {
  position:absolute;
  left:0px;
  top:27px;
  width:63px;
  height:150px;
  visibility:hidden;
}
#u1848_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:156px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1849 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:155px;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  color:#FFCC00;
}
#u1851 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1852 {
  position:absolute;
  left:0px;
  top:30px;
  width:63px;
  height:30px;
  color:#FF6633;
}
#u1853 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1854 {
  position:absolute;
  left:0px;
  top:60px;
  width:63px;
  height:30px;
  color:#00CC00;
}
#u1855 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1856 {
  position:absolute;
  left:0px;
  top:90px;
  width:63px;
  height:30px;
  color:#0099CC;
}
#u1857 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1858 {
  position:absolute;
  left:0px;
  top:120px;
  width:63px;
  height:30px;
  color:#0099CC;
}
#u1859 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
}
#u1861 {
  position:absolute;
  left:160px;
  top:100px;
  width:67px;
  height:63px;
}
#u1862 {
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u1863 {
  position:absolute;
  left:176px;
  top:163px;
  width:37px;
  height:14px;
  color:#0099FF;
  text-align:left;
}
#u1863_img.mouseOver {
}
#u1863.mouseOver {
}
#u1864 {
  position:absolute;
  left:2px;
  top:-1px;
  width:33px;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
}
#u1865 {
  position:absolute;
  left:383px;
  top:100px;
  width:67px;
  height:63px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u1867 {
  position:absolute;
  left:398px;
  top:163px;
  width:37px;
  height:14px;
  color:#0099FF;
  text-align:left;
}
#u1867_img.mouseOver {
}
#u1867.mouseOver {
}
#u1868 {
  position:absolute;
  left:2px;
  top:-1px;
  width:33px;
  word-wrap:break-word;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
}
#u1869 {
  position:absolute;
  left:272px;
  top:102px;
  width:67px;
  height:63px;
}
#u1870 {
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u1871 {
  position:absolute;
  left:287px;
  top:165px;
  width:37px;
  height:14px;
  color:#0099FF;
  text-align:left;
}
#u1871_img.mouseOver {
}
#u1871.mouseOver {
}
#u1872 {
  position:absolute;
  left:2px;
  top:-1px;
  width:33px;
  word-wrap:break-word;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1873 {
  position:absolute;
  left:160px;
  top:16px;
  width:120px;
  height:40px;
}
#u1874 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1875 {
  position:absolute;
  left:3px;
  top:16px;
  width:127px;
  height:40px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1877 {
  position:absolute;
  left:743px;
  top:12px;
  width:127px;
  height:40px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:-4px;
  width:123px;
  word-wrap:break-word;
}
#u1879 {
  position:absolute;
  left:450px;
  top:23px;
  width:50px;
  height:25px;
}
#u1879_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1879_input:disabled {
  color:grayText;
}
#u1880 {
  position:absolute;
  left:3px;
  top:220px;
  width:85px;
  height:25px;
}
#u1880_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1881 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u1882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1882 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1883 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
