body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2996 {
  position:absolute;
  left:0px;
  top:59px;
  width:870px;
  height:33px;
}
#u2997 {
  position:absolute;
  left:2px;
  top:8px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2998 {
  position:absolute;
  left:490px;
  top:24px;
  width:150px;
  height:25px;
}
#u2998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u2999 {
  position:absolute;
  left:650px;
  top:24px;
  width:40px;
  height:25px;
}
#u2999_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3000 {
  position:absolute;
  left:550px;
  top:66px;
  width:130px;
  height:20px;
}
#u3000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u3001 {
  position:absolute;
  left:688px;
  top:66px;
  width:72px;
  height:20px;
}
#u3001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3003 {
  position:absolute;
  left:129px;
  top:138px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3004 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3005 {
  position:absolute;
  left:139px;
  top:206px;
  width:300px;
  height:64px;
}
#u3006 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3007 {
  position:absolute;
  left:129px;
  top:386px;
  width:300px;
  height:109px;
}
#u3007_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:109px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3008 {
  position:absolute;
  left:320px;
  top:112px;
  width:91px;
  height:48px;
}
#u3009 {
  position:absolute;
  left:2px;
  top:16px;
  width:87px;
  word-wrap:break-word;
}
#u3010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:5px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3010 {
  position:absolute;
  left:251px;
  top:336px;
  width:420px;
  height:5px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3011 {
  position:absolute;
  left:2px;
  top:-6px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3012 {
  position:absolute;
  left:522px;
  top:206px;
  width:300px;
  height:64px;
}
#u3013 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:468px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3015 {
  position:absolute;
  left:-410px;
  top:92px;
  width:480px;
  height:468px;
}
#u3016 {
  position:absolute;
  left:2px;
  top:226px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:459px;
}
#u3017 {
  position:absolute;
  left:-410px;
  top:97px;
  width:266px;
  height:459px;
}
#u3018 {
  position:absolute;
  left:2px;
  top:222px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:468px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3019 {
  position:absolute;
  left:-20px;
  top:92px;
  width:90px;
  height:468px;
}
#u3020 {
  position:absolute;
  left:2px;
  top:226px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3021 {
  position:absolute;
  left:755px;
  top:112px;
  width:91px;
  height:48px;
}
#u3022 {
  position:absolute;
  left:2px;
  top:16px;
  width:87px;
  word-wrap:break-word;
}
#u3023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3023 {
  position:absolute;
  left:0px;
  top:560px;
  width:870px;
  height:40px;
}
#u3024 {
  position:absolute;
  left:2px;
  top:12px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:39px;
}
#u3025 {
  position:absolute;
  left:820px;
  top:418px;
  width:31px;
  height:39px;
}
#u3026 {
  position:absolute;
  left:2px;
  top:12px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3027 {
  position:absolute;
  left:410px;
  top:570px;
  width:50px;
  height:20px;
}
#u3028 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u3029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3029 {
  position:absolute;
  left:468px;
  top:570px;
  width:60px;
  height:20px;
}
#u3030 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u3031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3031 {
  position:absolute;
  left:340px;
  top:570px;
  width:60px;
  height:20px;
}
#u3032 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u3033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3033 {
  position:absolute;
  left:700px;
  top:570px;
  width:60px;
  height:20px;
}
#u3034 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u3035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3035 {
  position:absolute;
  left:770px;
  top:570px;
  width:50px;
  height:20px;
}
#u3036 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u3037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3037 {
  position:absolute;
  left:710px;
  top:324px;
  width:79px;
  height:26px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3037_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3037.mouseOver {
}
#u3038 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u3039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3039 {
  position:absolute;
  left:621px;
  top:324px;
  width:79px;
  height:26px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3039_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3039.mouseOver {
}
#u3040 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u3041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3041 {
  position:absolute;
  left:150px;
  top:9px;
  width:120px;
  height:40px;
}
#u3042 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u3043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u3043 {
  position:absolute;
  left:168px;
  top:70px;
  width:60px;
  height:20px;
  font-size:14px;
  color:#0099FF;
  text-align:left;
}
#u3043_img.mouseOver {
}
#u3043.mouseOver {
}
#u3044 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u3045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:22px;
}
#u3045 {
  position:absolute;
  left:207px;
  top:67px;
  width:10px;
  height:22px;
  font-size:18px;
  text-align:left;
}
#u3046 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u3047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u3047 {
  position:absolute;
  left:216px;
  top:68px;
  width:42px;
  height:20px;
  font-size:14px;
  text-align:left;
}
#u3047_img.mouseOver {
}
#u3047.mouseOver {
}
#u3048 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u3049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u3049 {
  position:absolute;
  left:10px;
  top:70px;
  width:50px;
  height:20px;
  text-align:left;
}
#u3049_img.mouseOver {
}
#u3049.mouseOver {
}
#u3050 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u3051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u3051 {
  position:absolute;
  left:43px;
  top:71px;
  width:40px;
  height:19px;
  font-size:16px;
  text-align:left;
}
#u3052 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u3053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u3053 {
  position:absolute;
  left:52px;
  top:70px;
  width:50px;
  height:20px;
  text-align:left;
}
#u3053_img.mouseOver {
}
#u3053.mouseOver {
}
#u3054 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u3055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u3055 {
  position:absolute;
  left:88px;
  top:71px;
  width:40px;
  height:19px;
  font-size:16px;
  text-align:left;
}
#u3056 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u3057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u3057 {
  position:absolute;
  left:100px;
  top:72px;
  width:200px;
  height:16px;
  font-size:14px;
  color:#0099CC;
  text-align:left;
}
#u3058 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u3059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:22px;
}
#u3059 {
  position:absolute;
  left:158px;
  top:69px;
  width:10px;
  height:22px;
  font-size:18px;
  text-align:left;
}
#u3060 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u3061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3061 {
  position:absolute;
  left:743px;
  top:11px;
  width:127px;
  height:40px;
}
#u3062 {
  position:absolute;
  left:2px;
  top:-4px;
  width:123px;
  word-wrap:break-word;
}
#u3063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3063 {
  position:absolute;
  left:13px;
  top:9px;
  width:120px;
  height:40px;
}
#u3064 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u3065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:469px;
}
#u3065 {
  position:absolute;
  left:869px;
  top:92px;
  width:1px;
  height:468px;
}
#u3066 {
  position:absolute;
  left:2px;
  top:226px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3068 {
  position:absolute;
  left:14px;
  top:318px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3069 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
  color:#0099CC;
}
#u3070 {
  position:absolute;
  left:7px;
  top:302px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
  color:#0099CC;
}
#u3071 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u3072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3073 {
  position:absolute;
  left:411px;
  top:310px;
  width:32px;
  height:32px;
}
#u3074 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
  color:#0099CC;
}
#u3075 {
  position:absolute;
  left:415px;
  top:294px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
  color:#0099CC;
}
#u3076 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3077 {
  position:absolute;
  left:660px;
  top:520px;
  width:70px;
  height:30px;
}
#u3078 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u3079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3079 {
  position:absolute;
  left:760px;
  top:520px;
  width:70px;
  height:30px;
}
#u3080 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u3081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:274px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:6.20000076293945px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3082 {
  position:absolute;
  left:365px;
  top:196px;
  width:267px;
  height:274px;
}
#u3083 {
  position:absolute;
  left:2px;
  top:129px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
}
#u3084 {
  position:absolute;
  left:372px;
  top:229px;
  width:200px;
  height:19px;
  font-size:16px;
  text-align:left;
}
#u3085 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u3086 {
  position:absolute;
  left:384px;
  top:264px;
  width:188px;
  height:160px;
}
#u3086_input {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:160px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3087 {
  position:absolute;
  left:526px;
  top:434px;
  width:79px;
  height:26px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3087_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3087.mouseOver {
}
#u3088 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u3089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3089 {
  position:absolute;
  left:428px;
  top:434px;
  width:79px;
  height:26px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3089_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3089.mouseOver {
}
#u3090 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u3091 {
  position:absolute;
  left:440px;
  top:24px;
  width:50px;
  height:25px;
}
#u3091_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3091_input:disabled {
  color:grayText;
}
#u3092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:6.20000076293945px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3093 {
  position:absolute;
  left:613px;
  top:326px;
  width:253px;
  height:190px;
}
#u3094 {
  position:absolute;
  left:2px;
  top:87px;
  width:249px;
  word-wrap:break-word;
}
#u3095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3095 {
  position:absolute;
  left:654px;
  top:461px;
  width:79px;
  height:26px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3095_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3095.mouseOver {
}
#u3096 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u3097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3097 {
  position:absolute;
  left:755px;
  top:461px;
  width:79px;
  height:26px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3097_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3097.mouseOver {
}
#u3098 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
