body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:887px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1884 {
  position:absolute;
  left:3px;
  top:190px;
  width:85px;
  height:25px;
}
#u1884_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1885 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1886 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1887 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1888 {
  position:absolute;
  left:540px;
  top:23px;
  width:150px;
  height:25px;
}
#u1888_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u1889 {
  position:absolute;
  left:700px;
  top:23px;
  width:50px;
  height:25px;
}
#u1889_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1890 {
  position:absolute;
  left:3px;
  top:160px;
  width:59px;
  height:25px;
}
#u1890_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1891 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u1892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1892 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u1893 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1894 {
  position:absolute;
  left:20px;
  top:190px;
  width:70px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1895 {
  position:absolute;
  left:690px;
  top:85px;
  width:64px;
  height:27px;
}
#u1895_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:70px;
  height:33px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1896 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:32px;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u1899 {
  position:absolute;
  left:0px;
  top:27px;
  width:63px;
  height:150px;
  visibility:hidden;
}
#u1899_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:156px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1900 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:155px;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  color:#FFCC00;
}
#u1902 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1903 {
  position:absolute;
  left:0px;
  top:30px;
  width:63px;
  height:30px;
  color:#FF6633;
}
#u1904 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1905 {
  position:absolute;
  left:0px;
  top:60px;
  width:63px;
  height:30px;
  color:#00CC00;
}
#u1906 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1907 {
  position:absolute;
  left:0px;
  top:90px;
  width:63px;
  height:30px;
  color:#0099CC;
}
#u1908 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1909 {
  position:absolute;
  left:0px;
  top:120px;
  width:63px;
  height:30px;
  color:#0099CC;
}
#u1910 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
}
#u1912 {
  position:absolute;
  left:160px;
  top:102px;
  width:67px;
  height:63px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u1914 {
  position:absolute;
  left:176px;
  top:165px;
  width:37px;
  height:14px;
  color:#0099FF;
  text-align:left;
}
#u1914_img.mouseOver {
}
#u1914.mouseOver {
}
#u1915 {
  position:absolute;
  left:2px;
  top:-1px;
  width:33px;
  word-wrap:break-word;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
}
#u1916 {
  position:absolute;
  left:383px;
  top:102px;
  width:67px;
  height:63px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u1918 {
  position:absolute;
  left:398px;
  top:165px;
  width:37px;
  height:14px;
  color:#0099FF;
  text-align:left;
}
#u1918_img.mouseOver {
}
#u1918.mouseOver {
}
#u1919 {
  position:absolute;
  left:2px;
  top:-1px;
  width:33px;
  word-wrap:break-word;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:63px;
}
#u1920 {
  position:absolute;
  left:272px;
  top:104px;
  width:67px;
  height:63px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u1922 {
  position:absolute;
  left:287px;
  top:167px;
  width:37px;
  height:14px;
  color:#0099FF;
  text-align:left;
}
#u1922_img.mouseOver {
}
#u1922.mouseOver {
}
#u1923 {
  position:absolute;
  left:2px;
  top:-1px;
  width:33px;
  word-wrap:break-word;
}
#u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1924 {
  position:absolute;
  left:150px;
  top:16px;
  width:120px;
  height:40px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1926 {
  position:absolute;
  left:3px;
  top:16px;
  width:127px;
  height:40px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1928 {
  position:absolute;
  left:760px;
  top:12px;
  width:127px;
  height:40px;
}
#u1929 {
  position:absolute;
  left:2px;
  top:-4px;
  width:123px;
  word-wrap:break-word;
}
#u1930 {
  position:absolute;
  left:490px;
  top:23px;
  width:50px;
  height:25px;
}
#u1930_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1930_input:disabled {
  color:grayText;
}
#u1931 {
  position:absolute;
  left:3px;
  top:220px;
  width:85px;
  height:25px;
}
#u1931_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u1933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1933 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1934 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
